body{
    overflow-x: hidden;
    user-select: none;
}
img{
    cursor: pointer;
}
button{
    cursor: pointer;
}
header {
    width: 100%;
    height: 50px;
    nav {
        width: 80%;
        height: 100%;
        margin: 61px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            h3{
                width: 90px;
                height: 23px;
                color: #FF0043;
                font-family: Roboto, sans-serif;
                font-weight: 700;
            }
        }
        .try_beta{
            button{
                width: 94px;
                height: 46px;
                background: #FF0043;
                box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
                border-radius: 23px;
                border: none;
                color: #fff;
                transition: .4s;
                    &:hover {
                        background-color: #ff608a;
                    }
            }
        }
    }
    .nav__content {
        width: 100%;
        height: 600px;

        &__wrapper {
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;

            &__left {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                & h2 {
                    font-family: Roboto;
                    font-size: 60px;
                    font-weight: 500;
                    text-align: left;
                    margin-bottom: 20px;
                    margin-top: -50px;
                }
                & p {
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 300;
                    text-align: left;
                    margin-bottom: 50px;
                }
                & button {
                    width: 275px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: #FF0043;
                    border: none;
                    color: #fff;
                    font-weight: 500;
                    transition: .4s;
                        &:hover {
                            background-color: #ff608a;
                        }
                } 
            }
            &__right {
                width: 50%;
                height: 100%;
            }
        }
    }
    .header__content{
        width: 100%;
        height: 272px;
        margin-top: 80px;
        &__wrapper{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            &__content{
                width: 1140px;
                height: 100%;
                display: flex;
                justify-content: space-around;
                & > div{
                    width: 360px;
                    height: 100%;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
                    border-radius: 10px;
                    & img{
                        width: 40px;
                        height: 48px;
                        margin-top: 30px;
                        margin-left: 30px;
                        object-fit: cover;
                    }
                    & h1{
                        width: 200px;
                        height: 60px;
                        font-size: 18px;
                        margin-left: 30px;
                        margin-top: 20px;
                    }
                    & p{
                        width: 300px;
                        height: 25px;
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 16px;
                        color: #00194A;
                        margin-left: 30px;
                    }
                    & div{
                        width: 300px;
                        height: 20px;
                        margin-left: 5px;
                        margin-bottom: 30px;
                        margin-top: 30px;
                        display: flex;
                        justify-content: space-around;
                        & h6{
                            width: 127px;
                            height: 19px;
                            opacity: 0.5;
                            text-decoration-line: underline;
                            font-family: Roboto, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            color: #00194A;
                        }
                        & img{
                            width: 21px;
                            height: 20px;
                            margin-top: 0px;
                            margin-left: 60px;
                        }
                    }
                }
            }
        }
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.main {
    position: absolute;
    width: 100%;
    height: 1050px;
    top: 1150px;
    &__wrapper {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
    .main__section__one {
        width: 100%;
        height: 528px;
        display: flex;
        
        &__left {
            width: 50%;
            height: 100%;

            &__text {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            & h1 {
                font-size: 35px;
                font-weight: 500;
            }
            & p {
                font-size: 18px;
                font-weight: 300;
            }
        }

        &__right {
            width: 50%;
            height: 100%;
            display: flex;

            &__card__one {

                &__box {
                    width: 260px;
                    height: 249px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 20px;
                    box-shadow: 0px 0px 25px 0px #00000008;
                    border-radius: 10px;

                    & img {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 26px;
                    }

                    & h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }

                    & p {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                &__box:nth-child(1) {
                    margin-bottom: 30px;
                    margin-right: 30px;
                }
            }
            &__card__two {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                &__box {
                    width: 260px;
                    height: 249px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 20px;
                    box-shadow: 0px 0px 25px 0px #00000008;
                    border-radius: 10px;

                    & img {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 26px;
                    }

                    & h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }

                    & p {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .main__section__two {
        width: 100%;
        height: 699px;
        margin-top: 100px;
        display: flex;

        .main__section__one__left {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            & img:nth-child(2) {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 400px;
                height: 400px;
            }
        }
        .main__section__one__right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            & h1 {
                margin-bottom: 30px;
            }
        }
    }
    .main__section__three {
        width: 100%;
        height: 346px;
        background: #00194A;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 380px;
        & h1 {
            font-size: 35px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        & p {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 50px;
        }

        & button {
            width: 275px;
            height: 60px;
            border-radius: 30px;
            background: #FF0043;
            color: white;
            font-size: 22px;
            cursor: pointer;
            border: none;
            outline: none;
            transition: .4s;

            &:hover {
                background-color: #ff608a;
            }
        }
    }
}
.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 3240px;
    .main__wrapper {
        display: flex;
        justify-content: space-between;

        & ul:last-child {
            display: flex;

            & li {
                margin-left: 20px;
            }
        }
    }
}
form{
    margin: 0 auto;
    margin-top: 2400px;
    width: 80%;
}
label{
    margin-left: 135px;
}
.btn_submit{
    margin-left: 500px;
    margin-top: 15px;
}

@media screen and (max-width: 1025px) {
    
    .main {
        
        &__wrapper {
            width: 90%;
            height: 100%;
        }
        .main__section__one {
            width: 100%;

            &__left {
                width: 40%;
                text-align: center;

                &__text {

                    & h1 {
                        font-size: 25px;
                        margin-bottom: 40px;
                    }

                    & p {
                        font-size: 14px;
                    }
                }
            }
            &__right {
                width: 60%;
            }
        }
        .main__section__two {
            .main__section__one__left {
                width: 50%;
                
                & img:nth-child(2) {
                    width: 300px;
                    height: 300px;
                }
            }
            .main__section__one__right {
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 771px) {
    .main {
        width: 864px;
        margin-top: 1000px;
        &__wrapper {
            width: 80%;
        }
        .main__section__one {
            width: 100%;
            height: 900px;
            display: flex;
            flex-direction: column;

            &__left {
                width: 100%;
                height: 21%;
                text-align: center;

                &__text {

                    & h1 {
                        margin-bottom: 20px;
                    }
                }
            }
            &__right {
                width: 100%;
                height: 79%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &__card__one {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;

                    &__box {
                        width: 400px;
                        height: 200px;
                        margin: 0;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &__box:nth-child(1) {
                        margin-right: 0px;
                    }
                }

                &__card__two {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &__box {
                        width: 400px;
                        height: 200px;
                        margin: 0;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .main__section__two {
            width: 100%;
            height: 400px;
            margin-top: 50px;

            .main__section__one__left {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & img:nth-child(1) {
                    width: 300px;
                }
                & img:nth-child(2) {
                    width: 200px;
                    height: 200px;
                }
            }
            .main__section__one__right {
                width: 50%;
                height: 100%;
                padding: 0px 15px;

                & h1 {
                    font-size: 22px;
                }

                & p {
                    font-size: 11px;
                }
            }
        }
    }
    .footer {
        width: 864px;
    }
    header{
        width: 100%;
        height: 50px;
    nav {
        width: 90%;
        height: 100%;
        margin: 61px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            h3{
                width: 90px;
                height: 23px;
                color: #FF0043;
                font-family: Roboto, sans-serif;
                font-weight: 700;
                margin-left: 50px;
            }
        }
        .try_beta{
            position: absolute;
            left: 500px;
            button{
                width: 94px;
                height: 46px;
                margin-left: 100px;
                background: #FF0043;
                box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
                border-radius: 23px;
                border: none;
                color: #fff;
                transition: .4s;
        &:hover {
            background-color: #ff608a;
        }
            }
        }
    }
    .nav__content {
        width: 100%;
        height: 1200px;
        margin-top: -50px;
        &__wrapper {
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            &__left {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: -150px;
                & h2 {
                    font-family: Roboto;
                    font-size: 30px;
                    font-weight: 600;
                    text-align: left;
                    margin-bottom: 20px;
                    margin-top: -100px;
                    margin-left: 5px;
                }
                & p {
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 300;
                    text-align: left;
                    margin-bottom: 50px;
                    margin-left: 5px;
                }
                & button {
                    width: 275px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: #FF0043;
                    border: none;
                    color: #fff;
                    font-weight: 500;
                    transition: .4s;
                    margin-left: 50%;
                    transform: translateX(-50%);
        &:hover {
            background-color: #ff608a;
        }
                } 
            }
            &__right {
                width: 100%;
                height: 100%;
                margin-top: -300px;
                margin-left: -100px;
            }
        }
    }
    .header__content{
        width: 100%;
        height: 272px;
        margin: 0;
        margin-top: -70px;
        margin-left: -5%;
        &__wrapper{
            width: 90%;
            height: 300%;
            margin: 0 auto;
            &__content{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                & > div{
                    width: 90%;
                    height: 100%;
                    margin: 0;
                    margin-left: 50%;
                    margin-bottom: 30px;
                    transform: translateX(-12%);
                    background: #FFFFFF;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
                    border-radius: 10px;
                    & img{
                        width: 40px;
                        height: 48px;
                        margin-top: 30px;
                        margin-left: 250px;
                        object-fit: cover;
                    }
                    & img:nth-child(2){
                        margin-left: 30px;
                    }
                    & h1{
                        width: 200px;
                        height: 60px;
                        font-size: 18px;
                        margin-left: 150px;
                        margin-top: 20px;
                    }
                    & p{
                        width: 300px;
                        height: 25px;
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 16px;
                        color: #00194A;
                        margin-top: -20px;
                        margin-left: 150px;
                    }
                    & div{
                        width: 100%;
                        height: 20px;
                        margin-left: 100px;
                        margin-bottom: 30px;
                        margin-top: 30px;
                        display: flex;
                        justify-content: space-around;
                        & h6{
                            position: absolute;
                            width: 127px;
                            height: 19px;
                            opacity: 0.5;
                            text-decoration-line: underline;
                            font-family: Roboto, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            color: #00194A;
                            left: 150px;
                        }
                        & img{
                            position: absolute;
                            width: 21px;
                            height: 20px;
                            margin-top: 0px;
                            left: 300px;
                        }
                    }
                }
            }
        }
    }
    }
}
@media screen and (max-width: 431px) {
    br{
        display: none;
    }
    .main {
        margin-top: 1050px;
        height: 2000px;
        &__wrapper {
            width: 90%;
            .main__section__one {
                margin-top: 20px;
                &__left {
                    & h1 {
                        font-size: 40px;
                    }
                    & p {
                        font-size: 18px;
                    }
                }

                &__right {

                    &__card__one__box {
                        width: 80%;
                    }

                    & h3 {
                        font-size: 30px;
                    }
                    
                    &__card__two__box {
                        width: 80%;
                    }

                    & h3 {
                        font-size: 30px;
                    }
                }
            }
            .main__section__two {
                width: 100%;
                height: 600px;
                .main__section__one__left {
                    width: 40%;
                }
                .main__section__one__right {
                    width: 60%;
                    
                    & h1 {
                        font-size: 30px;
                    }
                    
                    & p {
                        font-size: 20px;
                    }
                }
            }
            .main__section__three {
                width: 100%;
                height: 400px;
            }
        }
    }
    .footer {
        margin-top: 1400px;
        .main__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    header{
        width: 100%;
        height: 50px;
    nav {
        width: 80%;
        height: 100%;
        margin: 61px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            h3{
                width: 90px;
                height: 23px;
                color: #FF0043;
                font-family: Roboto, sans-serif;
                font-weight: 700;
                margin-left: 50px;
            }
        }
        .try_beta{
            position: absolute;
            left: 500px;
            button{
                width: 94px;
                height: 46px;
                background: #FF0043;
                box-shadow: 0px 5px 50px rgba(255, 0, 67, 0.1);
                border-radius: 23px;
                border: none;
                color: #fff;
                transition: .4s;
        &:hover {
            background-color: #ff608a;
        }
            }
        }
    }
    .nav__content {
        width: 100%;
        height: 1200px;
        &__wrapper {
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            &__left {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: -150px;
                & h2 {
                    font-family: Roboto;
                    font-size: 30px;
                    font-weight: 600;
                    text-align: left;
                    margin-bottom: 20px;
                    margin-top: -100px;
                    margin-left: 5px;
                }
                & p {
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 300;
                    text-align: left;
                    margin-bottom: 50px;
                    margin-left: 5px;
                }
                & button {
                    width: 275px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: #FF0043;
                    border: none;
                    color: #fff;
                    font-weight: 500;
                    transition: .4s;
                    margin-left: 50%;
                    transform: translateX(-50%);
        &:hover {
            background-color: #ff608a;
        }
                } 
            }
            &__right {
                width: 100%;
                height: 100%;
                margin-top: -350px;
                margin-left: -150px;
            }
        }
    }
    .header__content{
        width: 100%;
        height: 272px;
        margin: 0;
        margin-top: -70px;
        margin-left: -5%;
        &__wrapper{
            width: 90%;
            height: 300%;
            margin: 0 auto;
            &__content{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                & > div{
                    width: 90%;
                    height: 100%;
                    margin: 0;
                    margin-left: 50%;
                    margin-bottom: 30px;
                    transform: translateX(-12%);
                    background: #FFFFFF;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
                    border-radius: 10px;
                    & img{
                        width: 40px;
                        height: 48px;
                        margin-top: 30px;
                        margin-left: 30px;
                        object-fit: cover;
                    }
                    & h1{
                        width: 200px;
                        height: 60px;
                        font-size: 18px;
                        margin-left: 30px;
                        margin-top: 20px;
                    }
                    & p{
                        width: 300px;
                        height: 25px;
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 16px;
                        color: #00194A;
                        margin-left: 30px;
                    }
                    & div{
                        width: 300px;
                        height: 20px;
                        margin-left: 5px;
                        margin-bottom: 30px;
                        margin-top: 30px;
                        display: flex;
                        justify-content: space-around;
                        & h6{
                            width: 127px;
                            height: 19px;
                            opacity: 0.5;
                            text-decoration-line: underline;
                            font-family: Roboto, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            color: #00194A;
                        }
                        & img{
                            width: 21px;
                            height: 20px;
                            margin-top: 0px;
                            margin-left: 60px;
                        }
                    }
                }
            }
        }
    }
    }
}